
.lt_history {
  padding: 10px;
}
.lt_history ul {
  border: 1px dashed red;
}
.lt_history .title {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  color: #666;
}
.lt_history li {
  padding: 0 10px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed red;
}
.lt_history li:last-child {
  border-bottom: none;
}
.lt_history li i {
  line-height: 30px;
}