.lt_search {
  padding: 10px;
  position: relative;
}
.lt_search input {
  margin-bottom: 0px;
  height: 34px;
  border: 1px solid #007AFF;
  font-size: 12px;
}
.lt_search button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 34px;
  border-radius: 0 5px 5px 0;
}
.lt_history {
  padding: 10px;
}
.lt_history ul {
  border: 1px dashed red;
}
.lt_history .title {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  color: #666;
}
.lt_history li {
  padding: 0 10px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed red;
}
.lt_history li:last-child {
  border-bottom: none;
}
.lt_history li i {
  line-height: 30px;
}